<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Edit Blog</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">ABKM<sup>2</sup></div>
            </a>



            <li class="nav-item">
                <a class="nav-link collapsed" href="/api/v1/admin/user/all" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>List User</span>
                </a>

            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/api/v1/admin/create/banner" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Banner</span>
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/api/v1/admin/banner/all" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>list Banner</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/api/v1/admin/create/blog" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>blog</span>
                </a>

            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/api/v1/admin/blog/all" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>list blog</span>
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/api/v1/admin/create/literature" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>literature</span>
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/api/v1/admin/literature/all" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>List literature</span>
                </a>

            </li>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/api/v1/admin/create/vlog" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Vlog</span>
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/api/v1/admin/vlog/all" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>List Vlog</span>
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/api/v1/admin/create/team" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Team</span>
                </a>

            </li>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/api/v1/admin/team/state/all" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>List State Team</span>
                </a>

            </li>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/api/v1/admin/team/district/all" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>List District Team</span>
                </a>

            </li>



            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>


        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">



                <div class="row justify-content-center">

                    <div class="col-xl-8 col-lg-6 col-md-6">


                        <form class="user" action="/api/v1/admin/create/blog" method="post"
                            enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="exampleInputEmail" class="form-label px-2">Title</label>
                                <input type="text" class="form-control form-control-user" name="title"
                                    value="{{blog.title}}" id="exampleInputEmail" aria-describedby="emailHelp"
                                    placeholder="Enter title">
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlFile1">Banner</label>
                                <input type="file" name="banner" class="form-control-file" id="exampleFormControlFile1">
                            </div>
                            <img style="height: 100px;" src="{{blog.bannerurl}}"></img>
                            <div class="form-group">
                                <label for="exampleFormControlFile2">Thumbnail</label>
                                <input type="file" name="thumbnail" class="form-control-file"
                                    id="exampleFormControlFile1">
                            </div>
                            <img style="height: 100px;" src="{{blog.thumbnailurl}}"></img>
                            <div class="form-group">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputdate" class="form-label px-2">Date {{blog.createat}}</label>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputdate" class="form-label px-2">Date</label>
                                <input type="date" class="form-control form-control-user" type="date"
                                    value="{{blog.createat}}" id="exampleInputdate" aria-describedby="emailHelp">
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlFile3">Images</label>
                                <input type="file" name="image" multiple class="form-control-file"
                                    id="exampleFormControlFile3">
                            </div>
                            <div class="form-group">
                            </div>
                            {{#each blog.images}}
                            <img src={{this}} alt="Italian Trulli" style="height:100px;">
                            <hr>
                            {{/each}}


                            <div class="mb-3">
                                <label for="exampleInputDate" class="form-label">Description</label>
                                <div class="noclass">
                                    <textarea id="w3review" name="description" value="{{blog.description}}" rows="4" cols="50"></textarea>
                                </div>
                            </div>

                            <label class="my-5" for="lang">Blog Type</label>
                            <select value="{{blog.blogtype}}" name="blogtype" id="lang">
                                <option value="Upcoming Event">Upcoming Event</option>
                                <option value="News and Update">News and Update</option>
                                <option value="Recent Event">Recent Event</option>
                                <option value="Blog">Blog</option>
                            </select>

                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Update Blog
                            </button>

                        </form>

                    </div>

                </div>


            </div>

        </div>


        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>




</body>

</html>